

# Build outputs
backend/bin/
backend/obj/
frontend/dist/
frontend/.angular/

# Dependencies
frontend/node_modules/

# Logs
*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
